<template>
  <div class="bg-green-custom-1 bg-opacity-50">
    <header class="fixed w-full z-50">
      <div class="bg-gradient-to-r from-green-600 to-blue-500 p-0 h-2">&nbsp;</div>
      <div class="py-4 bg-white rounded-b-xl shadow-lg z-30 flex justify-end px-6 lg:px-8 py-2 top-1.125">
        <a href="/" class="no-underline text-green-600 hover:underline mx-2">
          Login
        </a>
      </div>
    </header>

    <main class="overflow-hidden ">
      <section class="mt-20">
        <div class="flex justify-center mb-4">
          <h1 class="w-9/12 text-center text-6xl"> Deine Job website</h1>
        </div>
        <img src="../assets/agreement.svg" alt="" class="w-full h-auto" />
      </section>

      <section class="">
        <div class="bg-white">
           <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#E6FFFA" fill-opacity="1" d="M0,160L60,165.3C120,171,240,181,360,202.7C480,224,600,256,720,240C840,224,960,160,1080,128C1200,96,1320,96,1380,96L1440,96L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z"></path></svg>
            <div class="flex justify-center mx-5">
              <div class="flex overflow-x-scroll ">
                <div class="flex rounded-xl"> 
                  <div :class="'cursor-pointer text-center font-medium py-2 w-60 rounded-l-xl ' + tabOneClass()" @click="activeTab = 0">Arbeitnehmer</div>
                  <div :class="'cursor-pointer text-center font-medium py-2 w-60 ' + tabTwoClass()" @click="activeTab = 1">Arbeitgeber</div>
                  <div :class="'cursor-pointer text-center font-medium py-2 w-60 rounded-r-xl ' + tabThreeClass()" @click="activeTab = 2">Temporärbüro</div>
                </div>
              </div>
            </div>

          <div class="flex justify-center mt-10 pb-6">
            <p class="w-9/12 text-center text-xl">{{ card[activeTab].heading }}</p>
          </div>
        </div>

        <div class="bg-white flex flex-col items-center ">
          <div class="flex flex-col items-center section-one-bg card-body -mb-16">
            <div class="flex justify-center">
              <img :src="require('@/assets/' + card[activeTab].data[0].picture )" alt="" class="max-w-lg w-80 h-72" />
            </div>
            <div class="flex text-gray-500 items-end ml-0 -mt-32">
              <p class="biggest-size pb-1">1.</p>
              <p class="pl-6 pb-16 w-7/12 text-base">{{ card[activeTab].data[0].title }}</p>
            </div>
          </div>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#E6FFFA" fill-opacity="1" d="M0,192L60,165.3C120,139,240,85,360,80C480,75,600,117,720,138.7C840,160,960,160,1080,144C1200,128,1320,96,1380,80L1440,64L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path></svg>
        </div>

        <div class="flex flex-col items-center z-0">
          <div class="flex text-gray-500 w-80 -mt-24 z-10 ml-10 items-end ">
            <p class="biggest-size pb-1">2.</p>
            <p class="pl-6 pb-16 w-7/12 text-base">{{ card[activeTab].data[1].title }}</p>
          </div>
          <div class="flex justify-center -mt-10 mb-8">
            <img :src="require('@/assets/' + card[activeTab].data[1].picture )"  alt="" class="max-w-lg w-80 h-72" />
          </div>
        </div>
        

        <div class="bg-white flex flex-col items-center ">
          
            <svg class="z-10" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#E6FFFA" fill-opacity="1" d="M0,192L60,165.3C120,139,240,85,360,80C480,75,600,117,720,138.7C840,160,960,160,1080,144C1200,128,1320,96,1380,80L1440,64L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z"></path></svg>
          
          <div class="bg-white flex flex-col items-center card-body section-three-bg -mt-20 -ml-10 pl-10 ">          
            <div class="flex text-gray-500 w-80 -mt-3 z-10 ml-10 items-end">
              <p class="biggest-size pb-1">3.</p>
              <p class="pl-6 pb-14 w-7/12 text-base">{{ card[activeTab].data[2].title }}</p>
            </div>
            <div class="flex justify-center -mt-10 mb-14">
              <img :src="require('@/assets/' + card[activeTab].data[2].picture )" alt="" class="max-w-lg w-80 h-72R" />
            </div>
          </div>
        </div>

      </section>

    </main>
    <nav class="sticky bottom-0 shadow-top shadow-md bg-white p-6 md:px-10 lg:px-16 xl:px-24 rounded-t-xl z-20">
      <button type="button" class="mb-1 bg-gradient-to-r from-green-600 to-blue-500 px-3 py-2 rounded-xl w-full text-white">
        <span>
          Kostenlos Registrieren 
        </span>
        <a href="/register" class="absolute inset-0"></a>
      </button>
    </nav>
  </div>
</template>

<script>
export default {
  data () {
    return {
      activeTab: 0,
      card: [
        {
          heading: "Drei einfache Schritte zu deinem neuen Job", 
          data: [
            {
              title: "Erstellen dein Lebenslauf",
              picture: "profile.svg"
            },
            {
              title: "Erstellen dein Lebenslauf",
              picture: "task.svg"
            },
            {
              title: "Mit nur einem Klick bewerben",
              picture: "personal.svg"
            },
          ]
        },
        {
          heading: "Drei einfache Schritte zu deinem neuen Mitarbeiter", 
          data: [
            {
              title: "Erstellen dein Unternehmensprofil",
              picture: "profile.svg"
            },
            {
              title: "Erstellen ein Jobinserat",
              picture: "about_me.svg"
            },
            {
              title: "Wähle deinen neuen Mitarbeiter aus",
              picture: "swipe_profiles.svg"
            },
          ]
        },
        {
          heading: "Drei einfache Schritte zur Vermittlung neuer Mitarbeiter", 
          data: [
            {
              title: "Erstellen dein Unternehmensprofil",
              picture: "profile.svg"
            },
            {
              title: "Erhalte Vermittlungs- angebot von Arbeitgeber",
              picture: "job_offers.svg"
            },
            {
              title: "Vermittlung nach Provision oder Stundenlohn",
              picture: "business_deal.svg"
            },
          ]
        }
      ]
    };
  },
  methods: {
    tabOneClass() {
      return this.activeTab === 0 ? "bg-green-custom  text-white" : "border-solid border-2 border-gray-200 text-green-500 border-r-0 ";
    },
    tabTwoClass() {
      return this.activeTab === 1 ? "bg-green-custom  text-white" 
        : this.activeTab === 0 ? "border-solid border-2 border-gray-200 text-green-500 border-l-0" 
        : "border-solid border-2 border-gray-200 text-green-500 border-r-0 ";
    },
    tabThreeClass() {
      return this.activeTab === 2 ? "bg-green-custom  text-white" : "border-solid border-2 border-gray-200 text-green-500 border-l-0 ";
    }
  }
}
</script>

<style>
  .biggest-size{
    font-size: 170px;
  }
  .section-one-bg {
    background-image: url("../assets/blob.svg");
    background-repeat: no-repeat;
    background-position: bottom -25px left 0px;
  }
  .section-three-bg {
    background-image: url("../assets/blob-2.svg");
    background-repeat: no-repeat;
    background-position: top -40px left 30px;
  }
  .shadow-top {
    box-shadow: 0 -1px 3px rgb(0 0 0 / 30%);
  }
  .card-body {
    width: 668px;
    max-width: 668px;
  }
  .w-365 {
    width: 365px;
  }
  .bg-green-custom {
    background-color: #81E6D9;
  }
  .bg-green-custom-1 {
    background-color: #E6FFFA;
  }
</style>